
 .formspage{

/* color: white; */

 background-image: url('../images/loginbg.jpg');
}
.login-form {
    color: white;
    background: black ;
}
/* label{
    color: black ;
} */
body{
    background-color:whitesmoke;
}


.hovereffect:hover{
background: rgba(0,0, 0, 0) !important;
color: #3a7999 !important;
border-radius: 10px;
box-shadow: inset 0 0 0 3px #3a7999 !important;
    
}

.max-width200{
    max-width: 50px !important;
    background-color: red;
}
.block-link{
    display: block;
}
